<section class="proyect">
  <div class="proyect_left">
    <div class="proyect_left__opacity">
      <a class="proyect_left__opacity_icon">
        <img src="../../assets/eye-icon.png" alt="An eye icon" />
      </a>
    </div>
    <img
      src="../../assets/cover-magic_battle.png"
      alt="Magic Battle proyect cover"
      class="proyect_left__img"
    />
  </div>
  <div class="proyect_right">
    <h2 class="proyect_right__title">Title : Magic Battle</h2>
    <p class="proyect_right__description">
      A project of a minigame, in this, you will be able to select between five
      different spells to face against another, which will be generated
      randomly.
    </p>
    <div class="proyect_right__tech">
      <p class="proyect_right__tech_title">Used technology</p>
      <div class="proyect_right__tech_content">
        <img
          src="../../assets/html-icon.png"
          alt="HTML Icon"
          class="proyect_right__tech_content__html"
        />
        <img
          src="../../assets/css-icon.png"
          alt="CSS Icon"
          class="proyect_right__tech_content__css"
        />
        <img
          src="../../assets/ts-icon.png"
          alt="TS Icon"
          class="proyect_right__tech_content__ts"
        />
        <img
          src="../../assets/angular-icon.png"
          alt="Angular Icon"
          class="proyect_right__tech_content__ang"
        />
      </div>
    </div>
  </div>
</section>
