<section class="content">
  <div class="project">
    <div class="project_left">
      <img
        src="../../assets/cover-magic_battle.png"
        alt="A photo of a project"
        class="project_left__img"
      />
    </div>
    <div class="project_right">
      <hr class="hr-one" />
      <p class="project_right__dev">Developer : Goorezy</p>
      <h2 class="project_right__title">Magic Battle</h2>
      <hr class="hr-two" />
      <p class="project_right__description">
        This is a project based on a minigame, in which, you can choose between
        five different spells to face each other. Which will be randomly
        generated.
      </p>
      <hr class="hr-three" />
      <div class="project_right__icons">
        <img
          src="../../assets/door-icon-dark.png"
          alt="An icon of a door opening"
          class="project_right__icons-door"
        />
        <img
          src="../../assets/github-icon-dark.png"
          alt="An icon of github"
          class="project_right__icons-github"
        />
      </div>
    </div>
  </div>
</section>
