//BreakPoints
$big: 470px;
$medium: 360px;
$small: 260px;
$smallest: 200px;

.header_text {
  display: flex;
  position: absolute;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
  background-color: black;
  font-family: "Codec Cold Trial", sans-serif;

  &__title {
    display: flex;
    font-size: 32px;
    font-weight: bold;
    cursor: default;

    @media screen and (max-width: $big) {
      font-size: 24px;
    }
    @media screen and (max-width: $small) {
      font-size: 20px;
    }
    @media screen and (max-width: $smallest) {
      font-size: 16px;
    }

    &-char {
      display: inline-block;
    }

    & .v {
      visibility: hidden;
      animation: rotation 0.3s linear 1s 1 forwards;
    }
    & .i {
      visibility: hidden;
      animation: rotation 0.3s linear 1.2s 1 forwards;
    }
    & .r {
      visibility: hidden;
      animation: rotation 0.3s linear 1.4s 1 forwards;
    }
    & .t {
      visibility: hidden;
      animation: rotation 0.3s linear 1.6s 1 forwards;
    }
    & .u {
      visibility: hidden;
      animation: rotation 0.3s linear 1.8s 1 forwards;
    }
    & .a {
      visibility: hidden;
      animation: rotation 0.3s linear 2s 1 forwards;
    }
    & .l {
      visibility: hidden;
      animation: rotation 0.3s linear 2.2s 1 forwards;
    }
    & .g {
      visibility: hidden;
      animation: rotation 0.3s linear 2.4s 1 forwards;
    }
    & .a2 {
      visibility: hidden;
      animation: rotation 0.3s linear 2.6s 1 forwards;
    }
    & .l2 {
      visibility: hidden;
      animation: rotation 0.3s linear 2.8s 1 forwards;
    }
    & .l3 {
      visibility: hidden;
      animation: rotation 0.3s linear 3s 1 forwards;
    }
    & .e {
      visibility: hidden;
      animation: rotation 0.3s linear 3.2s 1 forwards;
    }
    & .r2 {
      visibility: hidden;
      animation: rotation 0.3s linear 3.4s 1 forwards;
    }
    & .y {
      visibility: hidden;
      animation: rotation 0.3s linear 3.6s 1 forwards;
    }
  }

  &__slogan {
    font-size: 24px;
    font-weight: normal;
    opacity: 0;
    cursor: default;
    margin-top: 12px;
    animation: fadeIn 1s linear 4s 1 forwards;

    @media screen and (max-width: $big) {
      font-size: 16px;
    }
    @media screen and (max-width: $small) {
      font-size: 12px;
    }
    @media screen and (max-width: $smallest) {
      font-size: 8px;
    }
  }

  &__img {
    margin-top: 24px;
    width: 32px;
    opacity: 0;
    cursor: pointer;
    animation: fadeIn 1s linear 5s 1 forwards;
    transition: all 0.3s;

    @media screen and (max-width: $big) {
      width: 24px;
    }
    @media screen and (max-width: $small) {
      width: 20px;
    }
    @media screen and (max-width: $smallest) {
      width: 16px;
    }

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.9) translateY(-4px);
    }
  }
}

@keyframes rotation {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
    opacity: 0.5;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.about {
  display: flex;
  position: absolute;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: "Codec Cold Trial", sans-serif;

  &__first {
    width: 350px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: $big) {
      width: 250px;
    }
    @media screen and (max-width: $small) {
      width: 180px;
    }
    @media screen and (max-width: $smallest) {
      width: 125px;
    }

    &__title {
      font-size: 32px;
      color: rgba(255, 255, 255, 0.8);
      font-weight: normal;
      font-style: italic;
      cursor: default;

      @media screen and (max-width: $big) {
        font-size: 24px;
      }
      @media screen and (max-width: $small) {
        font-size: 20px;
      }
      @media screen and (max-width: $smallest) {
        font-size: 16px;
      }
    }

    &__desc {
      font-size: 16px;
      color: rgba(255, 255, 255, 0.6);
      margin-top: 12px;
      transform: translateX(-50px);
      font-weight: lighter;
      font-style: italic;
      cursor: default;

      @media screen and (max-width: $big) {
        font-size: 12px;
      }
      @media screen and (max-width: $medium) {
        transform: translateX(0px);
      }
      @media screen and (max-width: $small) {
        font-size: 10px;
      }
      @media screen and (max-width: $smallest) {
        font-size: 8px;
      }
    }

    &__inf {
      font-size: 16px;
      color: rgba(255, 255, 255, 0.6);
      margin-top: 16px;
      transform: translateX(50px);
      font-weight: lighter;
      font-style: italic;
      cursor: default;
      transition: all 0.3s;

      @media screen and (max-width: $big) {
        font-size: 12px;
      }
      @media screen and (max-width: $medium) {
        transform: translateX(0px);
      }
      @media screen and (max-width: $small) {
        font-size: 10px;
      }
      @media screen and (max-width: $smallest) {
        font-size: 8px;
      }
    }

    &__line {
      border: none;
      height: 0.5px;
      margin-top: 16px;
      width: 75px;
      background-color: rgba(255, 255, 255, 0.085);
    }
  }
}

.links {
  position: absolute;
  z-index: 10000;
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0 12px 0;
  left: 12px;
  font-family: "Codec Cold Trial", sans-serif;
  font-weight: bold;

  @media screen and (max-width: $small) {
    font-size: 10px;
    width: 90px;
  }

  &__home {
    transition: all 0.3s;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.4);
  }

  &__about {
    transition: all 0.3s;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.4);
  }
}

.hidden {
  display: none;
}

.active-link {
  color: rgba(255, 255, 255, 0.8);
}
