<div class="header_text">
  <span class="header_text__title">
    <span class="header_text__title-char v">V</span>
    <span class="header_text__title-char i">i</span>
    <span class="header_text__title-char r">r</span>
    <span class="header_text__title-char t">t</span>
    <span class="header_text__title-char u">u</span>
    <span class="header_text__title-char a">a</span>
    <span class="header_text__title-char l">l</span>
    <span class="header_text__title-space">&nbsp;</span>
    <span class="header_text__title-char g">G</span>
    <span class="header_text__title-char a2">a</span>
    <span class="header_text__title-char l2">l</span>
    <span class="header_text__title-char l3">l</span>
    <span class="header_text__title-char e">e</span>
    <span class="header_text__title-char r2">r</span>
    <span class="header_text__title-char y">y</span>
  </span>
  <p class="header_text__slogan">Your place to discover art</p>
  <img
    routerLink="experience"
    src="../../assets/door-icon-light.png"
    alt="A door icon to enter on the 3d render"
    class="header_text__img"
  />
</div>
