:root {
  --background-light: rgb(240, 240, 240);
  --background-dark: rgb(163, 163, 163);
  --light: rgb(228, 228, 228);
  --dark: rgb(49, 49, 49);
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  background-image: radial-gradient(rgb(240, 240, 240), rgb(163, 163, 163));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close {
  position: absolute;
  left: 6px;
  top: 6px;
  width: 26px;
  opacity: 0.5;
  transition: all 0.3s;
  cursor: pointer;
  @media screen and (max-width: 400px) {
    top: auto;
    bottom: 6px;
    z-index: 20000;
  }

  &:hover {
    opacity: 1;
  }

  &:active {
    transform: scale(0.95);
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.container {
  height: 60vh;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  perspective: 1000px;
  @media screen and (max-width: 670px) {
    width: 100%;
    height: 100%;
    margin-top: 0;
  }
}

.box {
  height: 250px;
  width: 250px;
  transform-style: preserve-3d;
  animation: rotation 10s infinite;
  animation-play-state: paused;
  @media screen and (max-width: 920px) {
    height: 200px;
    width: 200px;
  }
  @media screen and (max-width: 670px) {
    height: 150px;
    width: 150px;
  }
}

@keyframes rotation {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  20% {
    transform: rotateX(-45deg) rotateY(-45deg);
  }
  40% {
    transform: rotateX(45deg) rotateY(45deg);
  }
  60% {
    transform: rotateX(-45deg) rotateY(45deg);
  }
  80% {
    transform: rotateX(45deg) rotateY(-45deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg);
  }
}
.card {
  height: 250px;
  width: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  color: rgb(228, 228, 228);
  font-size: 32px;
  box-sizing: border-box;
  position: absolute;
  font-family: "Calibri", sans-serif;
  font-style: italic;
  font-weight: bold;

  @media screen and (max-width: 920px) {
    height: 200px;
    width: 200px;
  }
  @media screen and (max-width: 670px) {
    height: 150px;
    width: 150px;
    font-size: 24px;
    padding: 0;
  }
}

.front {
  transform: translateZ(125px);
  background-color: rgb(49, 49, 49);
  border: 1px solid rgb(228, 228, 228);
  @media screen and (max-width: 920px) {
    transform: translateZ(100px);
  }
  @media screen and (max-width: 670px) {
    transform: translateZ(75px);
  }
}

.back {
  transform: translateZ(-125px);
  background-color: rgb(49, 49, 49);
  border: 1px solid rgb(228, 228, 228);
  @media screen and (max-width: 920px) {
    transform: translateZ(-100px);
  }
  @media screen and (max-width: 670px) {
    transform: translateZ(-75px);
  }
}

.left {
  right: 125px;
  transform: rotateY(-90deg);
  background-color: rgb(49, 49, 49);
  border: 1px solid rgb(228, 228, 228);
  @media screen and (max-width: 920px) {
    right: 100px;
  }
  @media screen and (max-width: 670px) {
    right: 75px;
  }
}

.right {
  left: 125px;
  transform: rotateY(90deg);
  background-color: rgb(49, 49, 49);
  border: 1px solid rgb(228, 228, 228);
  @media screen and (max-width: 920px) {
    left: 100px;
  }
  @media screen and (max-width: 670px) {
    left: 75px;
  }
}

.top {
  bottom: 125px;
  transform: rotateX(90deg);
  background-color: rgb(49, 49, 49);
  border: 1px solid rgb(228, 228, 228);
  @media screen and (max-width: 920px) {
    bottom: 100px;
  }
  @media screen and (max-width: 670px) {
    bottom: 75px;
  }
}

.bottom {
  top: 125px;
  transform: rotateX(-90deg);
  background-color: rgb(49, 49, 49);
  border: 1px solid rgb(228, 228, 228);
  @media screen and (max-width: 920px) {
    top: 100px;
  }
  @media screen and (max-width: 670px) {
    top: 75px;
  }
}

.css_logo {
  width: 50%;
  @media screen and (max-width: 670px) {
    width: 40%;
  }
}

.js_logo {
  width: 50%;
  @media screen and (max-width: 670px) {
    width: 40%;
  }
}

.ps_logo {
  width: 65%;
  @media screen and (max-width: 670px) {
    width: 40%;
  }
}

.arg_logo {
  width: 50%;
  @media screen and (max-width: 670px) {
    width: 40%;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  @media screen and (max-width: 670px) {
    padding: 8px;
  }
  @media screen and (max-width: 330px) {
    padding: 8px 0;
  }
  @media screen and (max-width: 280px) {
    width: 100%;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (max-width: 280px) {
    width: 100%;
    justify-content: space-evenly;
  }
}
.header_btn {
  color: rgb(228, 228, 228);
  background: linear-gradient(
      to left,
      rgb(49, 49, 49) 50%,
      rgb(228, 228, 228) 50%
    )
    right;
  background-size: 201% 101%;
  font-family: "Calibri", sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  padding: 8px 16px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 6px;
  margin-right: 12px;
  letter-spacing: 3px;
  border: none;
  transition: background-position 1s, color 1s, transform 0.2s;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
  @media screen and (max-width: 670px) {
    padding: 6px 10px;
    font-size: 16px;
    letter-spacing: 1px;
  }
  @media screen and (max-width: 330px) {
    padding: 3px 7px;
    font-size: 12px;
    letter-spacing: 0.4px;
  }
  @media screen and (max-width: 280px) {
    margin-right: 0;
    padding: 4px 7px;
  }
}
.header_btn:hover {
  background-position: left;
  color: rgb(49, 49, 49);
}
.header_btn:active {
  transform: scale(0.92);
}
.header_colors {
  display: flex;
  align-items: center;
  margin-left: 12px;
  @media screen and (max-width: 280px) {
    margin-left: 0;
  }
}
.header_colors_input {
  font-family: "Calibri", sans-serif;
  font-weight: normal;
  font-size: 24px;
  padding: 6px 0 6px 8px;
  width: 16rem;
  border: none;
  border-radius: 6px;
  background-color: rgba(228, 228, 228, 0.8);
  color: rgb(49, 49, 49);
  border: 1px solid transparent;
  outline: none;
  @media screen and (max-width: 670px) {
    padding: 6px 0 6px 8px;
    font-size: 16px;
    width: 12rem;
  }
  @media screen and (max-width: 330px) {
    padding: 4px 0 4px 6px;
    font-size: 12px;
    width: 10rem;
  }
  @media screen and (max-width: 280px) {
    padding: 4px 0 4px 4px;
    width: 8rem;
  }
}
.header_colors_input:focus {
  border: 1px solid rgba(49, 49, 49, 0.616);
  outline: none;
}
.header_colors_input::placeholder {
  color: rgba(49, 49, 49, 0.4);
}
.header_colors_input_error {
  font-family: "Calibri", sans-serif;
  font-weight: normal;
  color: rgba(255, 74, 74, 0.753);
  position: absolute;
  font-size: 16px;
  transform: translateX(3rem) translateY(2.5rem);
  display: none;
  @media screen and (max-width: 670px) {
    font-size: 12px;
  }
  @media screen and (max-width: 330px) {
    font-size: 8px;
  }
}
.header_colors_btn {
  width: max-content;
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  transform: translateX(14rem);
  cursor: pointer;
  @media screen and (max-width: 670px) {
    transform: translateX(10.5rem);
  }
  @media screen and (max-width: 330px) {
    transform: translateX(8.85rem);
  }
  @media screen and (max-width: 280px) {
    transform: translate(6.85rem);
  }
}
.header_colors_btn_icon {
  width: 24px;
  transform: rotateY(180deg);
  opacity: 0.4;
  transition: all 0.2s;
  cursor: pointer;
  @media screen and (max-width: 670px) {
    width: 16px;
  }
  @media screen and (max-width: 330px) {
    width: 12px;
  }
}
.header_colors_btn_icon:hover {
  opacity: 1;
}
.header_colors_help {
  width: 32px;
  margin-left: 20px;
  opacity: 0.4;
  cursor: pointer;
  transition: all 0.2s;
  @media screen and (max-width: 670px) {
    width: 20px;
  }
  @media screen and (max-width: 330px) {
    width: 16px;
  }
  @media screen and (max-width: 280px) {
    margin-left: 0;
  }
}
.header_colors_help:hover {
  opacity: 1;
}

.info {
  visibility: hidden;
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: rgb(31, 31, 31);
}
.info_list {
  list-style: none;
  font-family: "Calibri", sans-serif;
  font-weight: normal;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(228, 228, 228);
  cursor: default;
  @media screen and (max-width: 360px) {
    font-size: 16px;
  }
}
.info_list_header {
  margin: 12px 0 12px 0;
  cursor: default;
}
.info_list_item {
  font-size: 22px;
  color: rgba(228, 228, 228, 0.671);
  text-align: center;
  cursor: default;
  @media screen and (max-width: 360px) {
    font-size: 16px;
  }
}
.info_btn {
  color: rgb(228, 228, 228);
  background: linear-gradient(
      to left,
      rgb(49, 49, 49) 50%,
      rgb(228, 228, 228) 50%
    )
    right;
  background-size: 201% 101%;
  font-family: "Calibri", sans-serif;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  padding: 8px 16px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 6px;
  margin-top: 24px;
  border: none;
  transition: background-position 1s, color 1s, transform 0.2s;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
  @media screen and (max-width: 360px) {
    font-size: 16px;
    padding: 6px 14px;
  }
}
.info_btn:hover {
  background-position: left;
  color: rgb(49, 49, 49);
}
.info_btn:active {
  transform: scale(0.92);
}

/*# sourceMappingURL=style.css.map */
