<img
  src="../../../assets/Project-Imgs/Hover-Lights/close.png"
  alt="An icon to go back to the gallery"
  class="close"
  (click)="goBack()"
/>

<section class="start" #menu>
  <div class="start__content">
    <h1 class="start__content__title">Hover Cube Lights</h1>
    <p class="start__content__text">Excellent to spend some time</p>
    <button class="start__content__enter" (click)="onClick(menu)">start</button>
  </div>
</section>

<section class="main">
  <span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span><span class="main__item"></span
  ><span class="main__item"></span>
</section>
