<body>
  <img
    src="../../../assets/Project-Imgs/Presentation-Card/close.png"
    alt="A close icon to return to the gallery"
    class="close"
    (click)="returnGallery()"
  />
  <div class="card">
    <div class="card front">
      <h2 class="front__text">Goorezy</h2>
      <span class="front__sub"> Always Learning </span>
      <p class="front__inf">Hover to read</p>
    </div>
    <div class="card back">
      <p class="back__desc">
        I am an Argentinian, who is currently studying to become a developer. I
        started this path in December 2021 and, the more time passes, the more
        interested I feel in acquiring all the possible knowledge about this
        incredible world.
      </p>
      <hr class="back__line" />
      <p class="back__exp">
        Since it started until today's date (09/24/2022). Take on a wide variety
        of courses and projects. Among them, a website that gives you relevant
        weather information about your day, or another, which after entering
        your weight and height tells you how healthy your physical form is based
        on your body mass index.
      </p>
      <hr class="back__line" />
      <p class="back__know">
        The technologies I feel most comfortable with are CSS, with the SASS
        pre-processor, and JavaScript. Although now I am learning to use the
        Angular framework and this involves understanding TypeScript. Also after
        feeling comfortable with my FrontEnd skills, I want to venture into
        learning the BackEnd environment. And become a FullStack developer.
      </p>
    </div>
  </div>
</body>
